/*Start Header  hello world*/
header {
    color: #fff;
    background-image: url("../images/forestbridge.jpg");
    background-size: cover;
    background-position: center;

    font-family: "Raleway", sans-serif;
    height: 100vh;
    width: 100%;
}

header nav { padding: 10px; }
nav h1 { font-size: 1.5rem; }

header .centerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centerText p:first-of-type {
    font-weight: bold;
    font-size: 3rem;
    display: none;
}

hr { color: #fff; width: 40%; }

.centerText p:last-of-type { font-weight: lighter; }

/*End Header*/